[package]
name = "shadplay"
version = "0.1.0"
resolver = "2"
edition = "2021"

[dependencies]
bevy = { git = "https://github.com/bevyengine/bevy", features = [
    "filesystem_watcher",
    "dynamic_linking",
    "bevy_dylib",
] }
smooth-bevy-cameras = "0.8.0"

[build-dependencies]
glob = "0.3.1"


[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
